@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebf5fc;
}



/* ------------ Scroll bar : new design ------------ */
::-webkit-scrollbar {
    width: 20px;
    
}
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #ebf5fc;
    box-shadow: inset -5px -5px 5px #ccc,
                inset 5px 5px 5px #f2f2f2;
}
::-webkit-scrollbar-track {
    border-radius: 20px;
    box-shadow: inset 5px 5px 10px #ccc,
                inset -5px -5px 10px #fff;
}



/* ------ adapted for firefox ------ */

@supports (scrollbar-color: red blue) {
    * {
        scrollbar-color: #359cf0 #aef1ee;
        scrollbar-width: thin;
    }

}



.wrapper{
    z-index: 1;
    
    
}
.wrapper h4{
    color:#777;
    font-size: 3em;
    text-align: center;
    font-weight: 700;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
    inset -5px -5px 5px rgba(255, 255, 255, 0.5),
     5px 5px 5px rgba(0, 0, 0, 0.05),
    -5px -5px 5px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin: 30px;
}
.wrapper h5 {
    color: #777;
    font-family: Dancing script, sans-serif;
    text-align: center;
    font-size: 1.9em;
    margin-top: 10px;
}
.wrapper p {
    text-align: center;
    margin-top: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 40px 0;
   
}
.container .card {
    position: relative;
    width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
                inset -5px -5px 5px rgba(255, 255, 255, 0.5),
                 5px 5px 5px rgba(0, 0, 0, 0.05),
                -5px -5px 5px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin: 30px;
}
.container .card .box {
   position: absolute;
   top: 20px;
   left: 20px;
   right: 20px;
   bottom: 20px;
   background: #ebf5fc;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.5s;
}

.container .card:hover .box {
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.container .card .box .content {
    padding: 20px;
    text-align: center;   
}

.container .card .box .content h2 {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.02);
    transition: 0.5s;
    pointer-events: none;
}
.container .card:hover .box .content h2 {
    color: rgba(0, 0, 0, 0.05);
}
.container .card .box .content h3 {
    font-size: 1.8em;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}

.container .card .box .content p {
    font-size: 1em;
    color: #777;
    font-weight: 300;
    z-index: 1;
    transition: 0.5s;

}

.container .card .box .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #03a9f4;
    color: #fff;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    
}
.container .card:hover .box .content a {
    background: #ff560f;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.son {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    
    border: none;
    cursor: pointer;
    margin: 25px;
    height: 100px;
    width: 100px;
    background: #ebf5fc;
    font-size: 32px;
    border-radius: 50px;
    box-shadow: 12px 12px 16px 0px rgba(0, 0, 0, 0.25),
                -8px -8px 12px 0px rgba(255, 255, 255, 0.3);
}
.son a {
    text-decoration: none;
    color: rgba(128, 128, 128, 1);
}

.son.git, .son.lin, .son.twi {
    color: rgba(128, 128, 128, 1);
}

.son.git:hover a{
    color: #ff560f;
}
.son.lin:hover a{
    color: #2868B2;
}
.son.twi:hover a{
    color: rgba(0, 172, 238, 1);
}
.explication {
    display: inline-block;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    padding: 40px 0;
}
.explication .card2 {
    position: relative;
    width: 1100px;
    height: 530px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
                inset -5px -5px 5px rgba(255, 255, 255, 0.5),
                 5px 5px 5px rgba(0, 0, 0, 0.05),
                -5px -5px 5px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin: 30px;
}
.explication .card2 .box {
   position: absolute;
   top: 20px;
   left: 20px;
   right: 20px;
   bottom: 20px;
   background: #ebf5fc;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.5s;

}
.explication .card2 .box .content {
    padding: 20px;
    text-align: center;  
}
.explication .card2 .box .content h5 {
    position: absolute;
    color: #777;
    top: -10px;
    right: 230px;
    z-index: 1;
    transition: 0.5s;
    pointer-events: none;
}
.explication .card2 .box .content p {
    margin-bottom: 10px;
    margin-top: 30px;
    z-index: 1;
}

.explication .card2 .box .content .player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    gap: 15px;
}
.explication .card2 .box .content .player .play {
    position: relative;
    width: 40px;
    height: 40px;
    background: #03a9f4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 25px #03a9f466;
    transition: 0.5s;
}
.explication .card2 .box .content .player.active .play {
    box-shadow: 0 0 0 150vh #03a9f4;
}
.explication .card2 .box .content .player .play::before {
    content: '';
    position: absolute;
    border: 18px solid #fff;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 0px solid transparent;
}

.explication .card2 .box .content .player p {
    font-weight: 500;
    font-size: 0.8em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #888;
    margin-top: 5px;
    margin-bottom: 30px;
}
.explication .card2 .box .content .clip { 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 900;
    transition: 0.5s;
}
.explication .card2 .box .content .clip.active {
    transition-delay: 0.5s;
    transform: translate(-50%,-50%) scale(1);
}
.explication .card2 .box .content .clip video {
    max-width: 900px;
    outline: none;
    border: 10px solid #fff;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}
.explication .card2 .box .content .clip .close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
}

.explication .card2 .box .content a {
    position: relative;
    padding: 8px 20px;
   
    margin-left: 18px;
    background: #03a9f4;
    color: #fff;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}
.explication .card2 .box .content a:hover {
    background: #ff560f;
}
/*-------  Contact Me  -----------*/

.liquid {
    position: relative;
    left: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.liquid .drop {
    position: relative;
    width: 525px;
    height: 525px;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
    25px 35px 20px rgba(0, 0, 0, 0.05),
    25px 30px 30px rgba(0, 0, 0, 0.05),
    inset -20px -20px 25px rgba(255, 255, 255, 0.9);
    transition: 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 53% 47% 29% 71% / 44% 42% 58% 56% ;
}
.liquid .drop:hover {
    border-radius: 50%;
}
.liquid .drop::before {
    content: '';
    position: absolute;
    top: 35px;
    left: 150px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.9;
} 
.liquid .drop::after {
    content: '';
    position: absolute;
    top: 68px;
    left: 178px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.9;
} 
.liquid .drop .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    gap: 15px;
}
.liquid .drop .content h2 {
    position: relative;
    color: #777;
    font-size: 1.5em;
}
.liquid .drop .content form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.liquid .drop .content form .inputbox {
    position: relative;
    width: 225px;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1),
                inset -2px -5px 10px rgba(255, 255, 255, 1),
                        15px 15px 10px rgba(0, 0, 0, 0.05),
                        15px 10px 15px rgba(0, 0, 0, 0.025);
    border-radius: 25px;
}
.liquid .drop .content form .inputbox::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 5px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}
.liquid .drop .content form .inputbox input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 1em;
    padding: 10px 15px;
}
.liquid .drop .content form .inputbox textarea {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 1em;
    padding: 10px 15px;
}
.liquid .drop .content form .inputbox input[type="submit"] {
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 0.1em;
    font-weight: 500;

}
.liquid .drop .content form .inputbox:last-child {
    background: #03a9f4;
    width: 120px;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1),
                15px 15px 10px rgba(0, 0, 0, 0.05),
                15px 10px 15px rgba(0, 0, 0, 0.025);
    transition: 0.5s;
}
.liquid .drop .content form .inputbox:last-child:hover {
    width: 150px;
}
.btns {
    position: absolute;
    right: 100px;
    bottom: 0px;
    width: 120px;
    height: 120px;
    background: #03a9f4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    line-height: 1.2em;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    text-align: center;
    box-shadow: inset 10px 10px 10px rgba(1, 180, 255, 0.05),
    15px 25px 10px rgba(1, 180, 255, 0.1),
    15px 20px 20px rgba(1, 180, 255, 0.1),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5);
    border-radius: 45% 56% 62% 38% / 57% 55% 45% 43%;
    transition: 0.25s;
}
.btns:hover {
    border-radius: 50%;
}
.btns::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 30px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.45;
}
.btns.linkedin {
    bottom: 150px;
    right: 100px;
    width: 90px;
    height: 90px;
    border-radius: 49% 51% 52% 48% / 63% 59% 41% 37%;
    box-shadow: inset 10px 10px 10px rgba(1, 180, 255, 0.05),
    15px 25px 10px rgba(1, 180, 255, 0.1),
    15px 20px 20px rgba(1, 180, 255, 0.1),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5);
    background: #03a9f4;
}
.btns.linkedin::before {
    left: 20px;
    width: 15px;
    height: 15px;
}
.btns.linkedin::after {
    content: '';
    position: absolute;
    top: 28px;
    left: 33px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.45;
}
.btns.linkedin:hover {
    border-radius: 50%;
}

.credits{
    font-size: 1em;
    text-align: center;
    margin-top: 20px;
    color:#777;
    padding: 20px 10px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
    inset -5px -5px 5px rgba(255, 255, 255, 0.5),
     5px 5px 5px rgba(0, 0, 0, 0.05),
    -5px -5px 5px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin-bottom: 30px;
    
}

.credits span{
    color: #03a9f4;
}


@media (max-width: 991px) {
    .clip video {
        max-width: 90%;
    }
}

/*
.social ul {
    display: flex;
    justify-content: center;
}
.social ul li {
    list-style: none;
   
}
.social ul li a i {
    font-size: 2em;
    margin: 10px;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebf5fc;
    box-shadow: 5px 5px 8px #ebf5fc,
    -5px -5px 8px #eff3f9;  
}


.social ul li a:hover {
    box-shadow: inset 5px 5px 8px #ebf5fc,
    -5px -5px 8px #eff3f9;;

}
*/